html[class="dark"] {
  --text-color: white;

  --bg-color-primary: theme("colors.slate.950");
  --bg-color-secondary: theme("colors.neutral.500");
  --bg-color-secondary-accent: theme("colors.neutral.800");
}
