html[class="light"] {
  // Text
  --text-color: 0, 0, 0;
  --text-color-inverted: 255, 255, 255;
  --text-hyperlink: 37, 99, 235;
  --text-error: 255, 0, 0;
  --icon-color: 37, 99, 235;

  // Background
  --bg-color-primary: 255, 255, 255;
  --bg-color-secondary: 245, 245, 245;
  --bg-color-secondary-accent: 229, 229, 229;

  // Border
  --border-color: 229, 229, 229;
  --border-color-accent: 0, 0, 0;
  --border-error: 255, 0, 0;

  // Controls
  --controls-color: 0, 0, 0;
  --controls-text-color: 255, 255, 255;
}
